article{
    text-align: center;
}
.titre{
    background-color: rgb(33, 37, 41);
    text-align: center;
    color:white;
}
.titre h1{
    font-size: 4em;
}
.groupe1,.groupe2,.groupe3,.groupe4{
    margin: 5px;
}
.color{
    text-align: center;
}
.white{
    color:white;
}
section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
}
section .bac{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: 5px 5px 15px black;
}
section .iut{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav button {
    background-color: rgb(33, 37, 41);
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
.btn-white {
    background-color: rgb(33, 37, 41);
    color: white;       
    border: none; 
  }
  
  .btn-white svg path {
    fill: white; 
  }
  
  .btn-white:hover {
    background-color: rgb(61, 68, 75);
    color: white;
  }