.titre{
    background-color: rgb(33, 37, 41);
    text-align: center;
    color:white;
    opacity: 0;
    animation: time 1s forwards;
}

.titre h1{
    font-size: 4em;
}
.intro{
    grid-row: 1;
    grid-column: 2/span 3;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto;
    
}
.intro img{
    grid-column: 1;
    grid-row: 1;
    filter: grayscale(0%);
    
}
.intro img:hover{
    filter: grayscale(100%);
}
.intro p{
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    color:white;
    grid-row: 2;
    grid-column: 1;
}
.index_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 20px;
    gap:15px
}
.index_section .formation{
    grid-column:1/span 2 ;
    grid-row: 2;
    box-shadow: 5px 5px 15px black;
    opacity: 0;
    transform: translateY(20px);
    animation: time 1s forwards;
}
.formation:nth-child(1) {
    animation-delay: 1.7s;
}
.index_section .competence{
    grid-column: 3/span 4;
    grid-row: 2/span3;
    box-shadow: 5px 5px 15px black;
    opacity: 0;
    transform: translateY(20px);
    animation: time 1s forwards;
}
.competence:nth-child(2) {
    animation-delay: 1.9s;
}
.index_section .experience{
    grid-column: 1/span 2;
    grid-row: 3;
    box-shadow: 5px 5px 15px black;
    opacity: 0;
    transform: translateY(20px);
    animation: time 2s forwards;
}
.experience:nth-child(3) {
    animation-delay: 2.1s;
}
.index_section .interet{
    grid-column: 1/span 2;
    grid-row: 4;
    box-shadow: 5px 5px 15px black;
    opacity: 0;
    transform: translateY(20px);
    animation: time 1s forwards;
}
.interet:nth-child(4) {
    animation-delay: 2.3s;
}
.cv{
    grid-column: 1/span 2;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    opacity: 0;
    transform: translateY(20px);
    animation: time 2.5s forwards;
}
.cv:nth-child(4) {
    animation-delay: 2.5s;
}

.btn-white {
    background-color: rgb(33, 37, 41);
    color: white;       
    border: none; 
}
  
.btn-white svg path {
    fill: white; 
}
  
.btn-white:hover {
    background-color: rgb(61, 68, 75);
    color: white;
}
  
@keyframes time {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
article a{
    text-decoration: none;
    color:black;
    margin:20px;
    font-size: 2em;
}
nav button {
    background-color: rgb(33, 37, 41);
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
nav h5{
    font-size: 2.5em;
}
nav ul li a{
    font-size: 1.5em;
}
.experience_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.chargement1{
    grid-row: 1;
    grid-column: 2;
}
.chargement2{
    grid-row: 1;
    grid-column: 3; 
}
.minoterie{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
    color:black;
}
.formation_section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
}
.formation_section .bac{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: gauche 5s forwards;
}
.card{
    box-shadow: 5px 5px 15px black;
}
.formation_section .iut{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: droite 5s forwards;
}
@keyframes gauche {
    from {left:-400px;}
    to {left:0px;}
}
@keyframes droite {
    from {right:-400px;}
    to {right:0px;}
}
@media screen and (max-width: 1024px) {
    section {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto auto auto;
        font-size: 1.3em;
    }
    section .formation {
        grid-row: 1;
        grid-column: 1/span2;
    }
    section .competence {
        grid-row: 2;
        grid-column: 1/span2;    
    }
    section .experience {
        grid-row: 3;
        grid-column: 1/span2;
    }
    section .interet {
        grid-row: 4;
        grid-column: 1/span2;
    }
    nav h5{
        font-size: 3em;
    }
    nav ul li a{
        font-size: 1.8em;
    }
    footer{
        font-size: 1.2em;
    }
}
