article{
    text-align: center;
}
.titre{
    background-color: rgb(33, 37, 41);
    text-align: center;
    color:white;
}
.titre h1{
    font-size: 4em;
}
.groupe1,.groupe2,.groupe3,.groupe4{
    margin: 5px;
}
.color{
    text-align: center;
}
.white{
    color:white;
}
section{
    background-color: rgb(33, 37, 41);
    border-radius: 15px;
    margin:5px;
}
#linkedin{
    color:white;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}
#gmail{
    
}
