
article{
    text-align: center;
}
.titre{
    background-color: rgb(33, 37, 41);
    text-align: center;
    color:white;
}
.titre h1{
    font-size: 4em;
}

.color{
    text-align: center;
}
.white{
    color:white;
}
section{
    background-color: rgb(33, 37, 41);
    border-radius: 15px;
    margin:5px;
}
.reseau{
    text-align: center;
}
section h4{
    color:white;
    display: block;
    margin: 10px;    
}
