section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    margin: 10px;
    gap:5px
}
section .formation{
    grid-column:1 ;
    grid-row: 1;
}
section .competence{
    grid-column: 2;
    grid-row: 1/span3;
}
section .experience{
    grid-column: 1;
    grid-row: 2;
}
section .interet{
    grid-column: 1;
    grid-row: 3;
}