body{
    background-image: url("fond.jfif");
    
}
.body{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto ;
    margin:10px;
    gap:5px;
    
}
.titre{
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    grid-template-rows: 1;
    grid-column: 1;
    grid-row: 1;
    border: solid;
    border-radius: 10px;
}
.titre h1{
    text-align: center;
    border-bottom: solid;
    border-bottom-color: black;
    border-top:solid;
    grid-column: 2;
    grid-row: 1;
    font-size: 3em;
    border-top-color: black;
    color:rgb(0,3,170);
    margin-right: 10px;
}
.titre img{
    grid-column: 1;
    grid-row: 1;
    border-radius: 50%;
    margin:auto;
    border:solid;
    margin: 10px;
}

.corp{
    border: solid;
    border-radius: 10px;
}
section{
    margin:10px;
    grid-column:1/span2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    gap: 5px;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: rgba(250, 235, 215,0.3);
    font-size: 2em;
}
.produit{
    grid-column: 1;
}
.achat{
    grid-column: 2;
}
.exemple{
    grid-column: 3;
}
nav{
    grid-column: 1/span2;
    grid-row: 3;
    border:solid;
    border-radius: 10px;
    text-align: center;
    margin:10px;
    display: flex;
}
nav img{
    margin:5px;
    border: solid;
    border-radius: 5px;
}
nav p{
    font-size: 1.7em;
}
@media screen and (max-width: 1024px){
    .titre h1{
        font-size: 3em;
    }
    .titre img{
        margin: 10px;
    }
    .titre{
        background-color: rgba(250, 235, 215,0.3);
    }
    section{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows:3fr 3fr 3fr 3fr;
        gap: 5px;
    }
    .produit{
        grid-column: 1/span2;
        grid-row: 1;
    }
    .achat{
        grid-column: 1/span2;
        grid-row: 2;
    }
    .exemple{
        grid-column: 1/span2;
        grid-row: 3;
    }
    nav p{
        grid-column: 1/span2;
        grid-row: 4;
    }
}
