body{
    display:grid;
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: auto auto auto;
    background-image: url("fond.jfif");
}
h1{
    text-align: center;
    border-bottom: solid;
    border-bottom-color: black;
    border-top:solid;
    border-top-color: black;
    grid-column: 2;
    grid-row: 1;
    color:rgb(0,3,170)
}
img{
    grid-column: 1;
    grid-row: 1;
    border-radius: 50%;
    margin:auto;
    border:solid;
}
section{
    margin:10px;
    grid-column:1/span2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    gap: 5px;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: rgba(250, 235, 215,0.3);

}
.produit{
    grid-column: 1;
}
.achat{
    grid-column: 2;
}
.exemple{
    grid-column: 3;
}
nav{
    grid-column: 1/span2;
    grid-row: 3;
    border:solid;
    border-radius: 10px;
    text-align: center;

}
@media screen and (max-width: 425px){
    section{
        margin:10px;
        grid-column:1/span2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows:50px 50px 50px;
        gap: 5px;
    }
    .produit{
        grid-column: 1/span2;
        grid-row: 1;
    }
    .achat{
        grid-column: 1/span2;
        grid-row: 2;
    }
    .exemple{
        grid-column: 1/span2;
        grid-row: 3;
    }
}
