section{
    display: grid;
    place-items: center;
    box-shadow: 10px 10px 100px grey;
    border-radius: 10px;
    width: 80%;
    margin: 0 10%;
    margin-top: 5%;
}
form{
    text-align: center;
    margin: 50px;
    font-size: 110%;
}
input[type=submit]{
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
}
input[type=submit]:hover{
    box-shadow: 10px 10px 100px rgb(204, 204, 204);

}
input[type=checkbox]{
    transform: scale(1.5);
    vertical-align: middle;
}