body{
    background-color: #ececec;
    font-family:'Poppins' ;
}
.logo{
    background-image: url("./image/main.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    padding: 110px 0px;
}
.logo img{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    place-items: center;
    width: 30%;
    
}
.nav{
    background-color:white;
    box-shadow: 0px 5px 15px rgb(74, 74, 74);
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
    
}
.nav a{
    margin:0 15px ;
    text-decoration: none;
    color: rgb(129, 207, 224);
}
.nav p:hover{
    color:#385170;
    border-bottom: solid red;
}
.nav p.active{
    color: rgb(244, 208, 63);
    border-bottom: solid red;
}
.header_index{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 315px;
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
    margin: 10px 50px;
    padding: 20px 0;  
}
.nosvaleurs{
    display: grid;
    place-items: center;
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.nosvaleurs h1{
    border-bottom: solid red;
    
}
.carrousel{
    width: 278px;
    grid-row: 2;
    grid-column: 2;
}
.carrousel img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.adhere{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
    margin: 10px 50px;    
}
.adhere p{
    color:rgb(129, 207, 224) ;
    padding: 30px 20px 15px 20px;
    font-size: 150%;
}
.adhere p:hover{
    color:#385170;
    border-bottom: solid red;
}
.titre{
    margin-bottom: 10px;
    display: grid;
    place-items: center;
}
.titre h1{
    text-align: center;
    border-bottom: solid red;
    padding: 10px 20px;
}
.texte{
    margin: 0px 100px;
    font-size: 120%;
}
.texte p{
    line-height: 37px;
}
.section_index{
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
    margin: 10px 50px;
    padding: 20px 20px;
}
.citation{
    background: linear-gradient(to bottom right, rgb(129, 207, 224), rgb(244, 208, 63));
    margin: 10px 400px;
    padding: 20px;
    box-shadow:10px 5px 15px  rgb(129, 207, 224);
}
#paul{
    text-align: right;
}
.chiffre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
}
.chiffre p{
    background-color: rgb(129, 207, 224);
    border-radius: 15px;
    padding: 15px;
    font-size: 130%;
}
.image{
    display: grid;
    grid-template-areas: "a b c d"
                        "e f g h";
    gap: 10px;
    margin-top: 20px;
}
.image img{
    width: 300px;
}
#img1{grid-area:a ;}
#img2{grid-area:b ;}
#img3{grid-area:c ;}
#img4{grid-area:d ;}
#img5{grid-area:e ;}
#img6{grid-area:f ;}
#img7{grid-area:g ;}
#img8{grid-area:h ;}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 50px;
    font-size: 150%;
    margin: 40px 0px;
    
}
.facebook a{
    text-decoration: none;
    color: black;
}
#facebook{
    background-color:  rgb(129, 207, 224) ;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}
#facebook:hover{
    background-color: rgb(53, 186, 219);
}
.bretagne{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "a b"
                        "c b"
                        "d e"
                        "f g"
                        "h g"
                        "h i"
                        "h j"
                        ;
    gap: 20px;
}

.bretagne img{
    width: 80%;
    border-radius: 15px;
}
.feu{
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.feu p {
    text-align: center;
    font-size: 150%;
}
.feu button{
    font-size: 140%;
    border-radius: 10px;
}
.feu button:hover{
    background-color: rgb(207, 207, 207);
}

.reseau{
    text-align: end;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px -5px 15px rgb(74, 74, 74);
    padding: 5px 0px;
}
.social{
    margin: 0px 100px;
}
.pied{
    text-align: center;
    margin-top: 0px;
    background-color: rgb(186, 186, 186);
    padding-bottom: 4px;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px 0px;
}
/*Page Notre projet d'habitat inclusif*/
.histoire{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
    margin-top: 30px;
    margin: 0 50px;
    padding: 50px 20px;
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
}
.titre_projet{
    grid-row: 1;
    padding: 10px 400px;
}
.titre_projet h1{
    text-align: center;
    border-bottom: solid red;
}
.rencontre{
    padding:0px 130px ;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 80px;
}
.rencontre h2{
    grid-column: 1;
    grid-row: 1;
}
.rencontre p{
    grid-column: 1;
    grid-row: 2;
    text-align: justify;
}
.rencontre img{
    grid-column: 2;
    grid-row:2;
}
.arche{
    padding:0px 130px ;
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.arche h2{
    grid-row: 1;
    grid-column: 2;
}
.arche p{
    grid-row: 2;
    grid-column: 2;
    text-align: justify;
}
.arche img{
    grid-row: 1/span 2;
    grid-column: 1;
    width: 70%;
    display: grid;
}
.axe{
    padding:0px 150px ;
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
}
.axe h2{
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}
.axe p{
    grid-row: 2;
    grid-column: 1;
    text-align: justify;
}
.axe iframe{
    grid-row: 1/ span 2;
    grid-column: 2;
}
/*Page Actus et événement*/
.section_actus{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    margin: 0px 50px;
    padding: 10px 50px;
    gap: 20px;
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
}
.section_actus img{
    width: 50%;
}
.titre_actus{
    padding: 10px 0px;
    grid-row: 1;
}
.titre_actus h1{
    text-align: center;
    border-bottom: solid red;
}
.nature{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
}
.nature h3{
    grid-row: 1;
    grid-column: 1;
}
.nature p{
    grid-row: 2;
    grid-column: 1;
}
.nature img{
    grid-row: 1/ span 2;
    grid-column: 2;
}
.excursion{
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.excursion p{
    grid-row: 1;
    grid-column: 2;
}
.excursion img{
    grid-row: 1;
    grid-column: 1;
}
.midi{
    grid-row: 4;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.midi p{
    grid-row: 1;
    grid-column: 1;
}
.midi img{
    grid-row: 1;
    grid-column: 2;
}
.an{
    grid-row: 5;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
}
.an h3{
    grid-row: 1;
    grid-column: 2;
}
.an p{
    grid-row: 2;
    grid-column: 2;
}
.an img{
    grid-row: 1/ span 2;
    grid-column: 1;
}
.journee{
    grid-row: 6;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.journee p{
    grid-row: 1;
    grid-column: 1;
}
.journee img{
    grid-row: 1;
    grid-column: 2;
}
.reveillon{
    grid-row: 7;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.reveillon p{
    grid-row: 1;
    grid-column: 2;
}
.reveillon img{
    grid-row: 1;
    grid-column: 1;
}
.cousinade{
    grid-row: 8;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    place-items: center;
}
.cousinade h3{
    grid-row: 1;
    grid-column: 1;
}
.cousinade p{
    grid-row: 2;
    grid-column: 1;
}
.cousinade img{
    grid-row: 1/ span 2;
    grid-column: 2;
}
.photo{
    grid-row: 9;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "a . d . e"
                        ". b . c .";
}
/*page Les quatres façons de nous rejoindre*/
.section_rejoindre{
    margin: 0px 50px;
    padding: 10px 50px;
    box-shadow: 
                -10px 0 15px -5px rgba(0, 0, 0, 0.3), /* Ombre à gauche */
                10px 0 15px -5px rgba(0, 0, 0, 0.3);  /* Ombre à droite */
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
.titre_rejoindre{
    padding: 10px 0px;
    grid-row: 1;
    padding: 0 280px;
    grid-row: 1;
}
.titre_rejoindre h1{
    text-align: center;
    border-bottom: solid red;
}
.adulte{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    place-items: center;
}
.adulte p{
    grid-row: 1;
    grid-column: 1;
}
.adulte img{
    grid-row: 1;
    grid-column: 2;
}
.partenaire{
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    place-items: center;
}
.partenaire p{
    grid-row: 1;
    grid-column: 2;
}
.partenaire img{
    grid-row: 1;
    grid-column: 1;
}
.benevole{
    grid-row: 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    place-items: center;
}
.benevole p{
    grid-row: 1;
    grid-column: 1;
}
.benevole img{
    grid-row: 1;
    grid-column: 2;
}
.service{
    grid-row: 5;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    place-items: center;
}
.service p{
    grid-row: 1;
    grid-column: 2;
}
.service img{
    grid-row: 1;
    grid-column: 1;
}